version: '3.8'

services:
 postgres-test:
  image: postgres:15-alpine
  container_name: real_time_chat_db_test
  env_file:
   - .env
  environment:
   - POSTGRES_USER=${POSTGRES_USER}
   - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
   - POSTGRES_DB=${POSTGRES_DB}_test
  ports:
   - '5433:5432'
  volumes:
   - pgdata_test:/var/lib/postgresql/data
  networks:
   - real_time_chat_test_network
  healthcheck:
   test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER:-postgres}']
   interval: 10s
   timeout: 5s
   retries: 5

 test:
  build:
   context: .
   dockerfile: Dockerfile.test
  container_name: real_time_chat_test
  environment:
   NODE_ENV: test
   DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@postgres-test:5432/${POSTGRES_DB:-flag_feature}_test?schema=public
   TEST_DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@postgres-test:5432/${POSTGRES_DB:-flag_feature}_test?schema=public
   ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET:-test-access-secret-key}
   REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET:-test-refresh-secret-key}
  depends_on:
   postgres-test:
    condition: service_healthy
  networks:
   - real_time_chat_test_network
  volumes:
   - .:/app
   - /app/node_modules
  command: sh -c "npx prisma migrate deploy && npm run test"

volumes:
 pgdata_test:

networks:
 real_time_chat_test_network:
  driver: bridge
